[user]
    name = L3viathan
    email = git@l3vi.de
[push]
    default = simple
[alias]
    co = checkout
    c = commit
    a = add
    d = diff
    br = branch
    pfusch = push --force-with-lease
[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[core]
    editor = vim
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
[rerere]
    enabled = true
[pull]
	rebase = false
[init]
	defaultBranch = master
